
.main{
      background-image: url('https://lh3.googleusercontent.com/proxy/4FHqaLfSsHVAhae4SDKveBQStpMNzeBtxirgqtrNbcLRDT4ASBhagGGZ-jCpO3hDJIgK_m_W_bgmUgfZuTOp0tw2W09fnJZ47e8IkoGlF0af-7Usf1QONlZT7DWdpgWZS0LtkQ895g');
}


.figure
{
border-style: dashed solid;
background-color: rgb(178, 187, 187);
width: 500px;
height: 400px;
margin-left: 500px;
margin-top: 50px;
}

.text-center{
      margin-top: 40px;
}