.first{
    margin-left: 40px;
    margin-right: 40px;
}

.lahiru{
    margin-left: 100px;
    margin-top: 30px;
}

.profile{
    background-color: darken($color: #225588, $amount: 0);
}

.description{


    height: 40px;
    line-height: 1.2;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0 5px;
    font-size: 11px;
    color: darkgray;
}


