<div class="container">
  <div>
    <div class="row">
      <div class="col-sm-4"  *ngFor="let item of data" style="padding-top: 40px;">
        <div class="card" style="width: 18rem;" >
          <img [src]="item.imge" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text" style="height: 100px;">{{item.description}}</p>
            <p>{{item.price}}</p>
            <a href="#" class="btn btn-primary">By Now</a>
          </div>
        </div>
    </div>
  </div>

</div>
